{% extends '::base.html.twig' %}

{% block title %}add a user{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block container %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
        <div class="form-group">
            {{ form_widget(form.name,{ 'attr': {'placeholder': 'name', 'class':'form-group'} }) }}
            {{ form_widget(form.description,{ 'attr': {'placeholder': 'description', 'class':'form-group'} }) }}
            {{ form_widget(form.email,{ 'attr': {'placeholder': 'email', 'class':'form-group'} }) }}
            {{ form_widget(form.plainpassword,{ 'attr': {'placeholder': 'password', 'class':'form-group'} }) }}
            
            {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'} }) }}
            
        </div>


    {{ form_end(form) }}

{% endblock %}



{% block javascripts %}


{% endblock %}